{% extends "base_generic.html" %} {% load static %} {% block content %}

<div id="landing">
    <div id="landingOverlay">
        <div id="landingText">About</div>
    </div>
</div>

<div class="section-container">

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ml-auto rounded" id="aboutSection">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">about</span>
                            <span class="section-heading-lower">part 1</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/media/{{admin.aboutImage1}}" alt="">
                <div class="product-item-description d-flex mr-auto" id="aboutSection">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0 h3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum reiciendis a odit accusamus ipsum at itaque assumenda doloribus! Deleniti assumenda minima deserunt, praesentium eius rerum et modi atque recusandae corporis?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex mr-auto rounded" id="aboutSection">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">about</span>
                            <span class="section-heading-lower">part 2</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/media/{{admin.aboutImage2}}" alt="">
                <div class="product-item-description d-flex ml-auto" id="aboutSection">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0 h3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis molestiae minima molestias voluptatibus illo consequuntur! Consequatur, architecto. Saepe ipsa rem officiis dolorum consectetur nobis veritatis vel. Qui voluptatibus
                            iure ex.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ml-auto rounded" id="aboutSection">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">about</span>
                            <span class="section-heading-lower">part 3</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/media/{{admin.aboutImage3}}" alt="">
                <div class="product-item-description d-flex mr-auto" id="aboutSection">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0 h3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum nobis eius asperiores nostrum voluptatum quos atque excepturi placeat quam. Voluptatum quos voluptatem rem dolorum. At iusto quibusdam magni molestias quae.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}