{% extends "base_generic.html" %} {% load static %} {% block content %}

<div id="landing2">
    <div id="landingOverlay2">
        <div id="landingText">About</div>
    </div>
</div>

<div class="section-container">




    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <!-- <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex mr-auto rounded" id="aboutSection">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">how</span>
                            <span class="section-heading-lower">they're made</span>
                        </h2>
                    </div> 
            </div> -->
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/images/giphy.gif" alt="">


            </div>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ml-auto rounded" id="aboutSection">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">HOW</span>
                            <span class="section-heading-lower">IT STARTED</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/static/images/masks.jpeg" alt="">
                <div class="product-item-description d-flex mr-auto" id="aboutSection">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0 h3">Peaches and Lemons face mask pop-up shop was a little side project I started this summer inspired by a sewing machine + loads of free time/something to do while I watched Schitts Creek + most importantly, keeping my loved ones
                            safe. All masks are made with 100% cotton fabric and are washed prior to shipping for your safety. Hope you enjoy! </p>
                    </div>
                </div>
            </div>
        </div>
    </section>









</div>

{% endblock %}