<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>Peaches and Lemons</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo_png.png' %}" />




    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</head>

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <header>



        <div class="header-container">

            <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">

                <div class="container">
                    <a href={% url 'index' %}><img id="logo-main" src="{% static 'images/logo_png.png' %}"></a>

                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'shop' %}>Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'about' %}>About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>



    </header>


    <div id="content" class="col-lg-12 pageContentWrapper">{% block content %}{% endblock %}</div>





    <footer class="footer footwrap">
        <div class="footer-left col-md-5 col-sm-6">
            <p class="about">
                <h3><span> a word from elizabeth</span> </h3>
                Ut congue augue non tellus bibendum, in varius tellus condimentum. In scelerisque nibh tortor, sed rhoncus odio condimentum in. Sed sed est ut sapien ultrices eleifend. Integer tellus est, vehicula eu lectus tincidunt, ultricies feugiat leo. Suspendisse
                tellus elit, pharetra in hendrerit ut, aliquam quis augue. Nam ut nibh mollis, tristique ante sed, viverra massa.
            </p>

        </div>
        <div class="footer-center col-md-3 col-sm-6">
            <a href={% url 'index' %}><img src="{% static 'images/logo_png.png' %}" alt="" class="footer-logo"></a>

        </div>
        <div class="footer-right col-md-4 col-sm-6">


            <div class="icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
            </div>
            <p class="name"> Source code: <a href="https://github.com/AlexPersaud17/MasksByLiz">GitHub <i class="fab fa-github"></i></a>
            </p>
            <p class="name">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons
          Attribution 4.0 International License</a>.
            </p>

        </div>
    </footer>





</body>
<script type="text/javascript" src="{% static 'script.js' %}"></script>
<script>
</script>

</html>