{% extends "base_generic.html" %}

{% block content %}
  <h1>Masks By Liz</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero repudiandae beatae quis nisi adipisci sequi ratione quam reprehenderit itaque, magnam, veritatis maiores quod earum? Consequuntur est dolorem vero minima ipsam?</p>

  <h2>About the masks/care & handling</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto in aspernatur molestiae doloribus dolores quia, ipsum voluptatibus? Quos suscipit culpa maxime distinctio laboriosam accusamus necessitatibus, dolores consequatur, sunt ab nulla!</p>

  <a href={% url 'shop' %}>Visit the Shop</a>
{% endblock %}