{% extends "base_generic.html" %} {% load static %} {% block content %}




<a href={% url 'shop' %}>
    <div id="landing">
        <div id="landingOverlay">
            <div id="landingText">Shop Now</div>
        </div>
    </div>
</a>









<section class="page-section thank-you-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-3">
                        <span class="section-heading-upper">Thank you for visiting the <span style="color:#f4c0af"> Peaches and Lemons</span> face mask pop-up shop!</span>
                        <span class="section-heading-lower">Not only are they made to protect you and your loved ones – they're also stylish and comfortable!</span>
                    </h2>

                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}