{% extends "base_generic.html" %} {% block content %}



<div id="landing3">
    <div id="landingOverlay3">
        <div id="landingText">Masks</div>
    </div>
</div>


<h1 class='shop-heading'>MASKS</h1>
<div id='collection-component-1600308427407'></div>
<script type="text/javascript">
    /*<![CDATA[*/
    (function() {
        var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
        if (window.ShopifyBuy) {
            if (window.ShopifyBuy.UI) {
                ShopifyBuyInit();
            } else {
                loadScript();
            }
        } else {
            loadScript();
        }

        function loadScript() {
            var script = document.createElement('script');
            script.async = true;
            script.src = scriptURL;
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
            script.onload = ShopifyBuyInit;
        }

        function ShopifyBuyInit() {
            var client = ShopifyBuy.buildClient({
                domain: 'peaches-lemon.myshopify.com',
                storefrontAccessToken: 'cfcd2a592cc4930d08780d7746a14bdc',
            });
            ShopifyBuy.UI.onReady(client).then(function(ui) {
                ui.createComponent('collection', {
                    id: '215683858588',
                    node: document.getElementById('collection-component-1600308427407'),
                    moneyFormat: '%24%7B%7Bamount%7D%7D',
                    options: {
                        "product": {
                            "styles": {
                                "product": {
                                    "@media (min-width: 601px)": {
                                        "max-width": "calc(33.33333% - 30px)",
                                        "margin-left": "30px",
                                        "margin-bottom": "50px",
                                        "width": "calc(33.33333% - 30px)"
                                    },
                                    "img": {
                                        "height": "calc(100% - 15px)",
                                        "position": "absolute",
                                        "left": "0",
                                        "right": "0",
                                        "top": "0"
                                    },
                                    "imgWrapper": {
                                        "padding-top": "calc(75% + 15px)",
                                        "position": "relative",
                                        "height": "0"
                                    }
                                },
                                "title": {
                                    "font-family": "Roboto, sans-serif",
                                    "font-size": "17px"
                                },
                                "button": {
                                    "font-family": "Roboto, sans-serif",
                                    "font-weight": "bold",
                                    ":hover": {
                                        "background-color": "#dcad9e"
                                    },
                                    "background-color": "#f4c0af",
                                    ":focus": {
                                        "background-color": "#dcad9e"
                                    },
                                    "border-radius": "40px",
                                    "padding-left": "30px",
                                    "padding-right": "30px"
                                },
                                "price": {
                                    "font-size": "15px",
                                    "color": "#7b7b7b"
                                },
                                "compareAt": {
                                    "font-size": "12.75px",
                                    "color": "#7b7b7b"
                                },
                                "unitPrice": {
                                    "font-size": "12.75px",
                                    "color": "#7b7b7b"
                                }
                            },
                            "text": {
                                "button": "Add to cart"
                            },
                            "googleFonts": [
                                "Roboto"
                            ]
                        },
                        "productSet": {
                            "styles": {
                                "products": {
                                    "@media (min-width: 601px)": {
                                        "margin-left": "-30px"
                                    }
                                }
                            }
                        },
                        "modalProduct": {
                            "contents": {
                                "img": false,
                                "imgWithCarousel": true,
                                "button": false,
                                "buttonWithQuantity": true
                            },
                            "styles": {
                                "product": {
                                    "@media (min-width: 601px)": {
                                        "max-width": "100%",
                                        "margin-left": "0px",
                                        "margin-bottom": "0px"
                                    }
                                },
                                "button": {
                                    "font-family": "Roboto, sans-serif",
                                    "font-weight": "bold",
                                    ":hover": {
                                        "background-color": "#dcad9e"
                                    },
                                    "background-color": "#f4c0af",
                                    ":focus": {
                                        "background-color": "#dcad9e"
                                    },
                                    "border-radius": "40px",
                                    "padding-left": "30px",
                                    "padding-right": "30px"
                                }
                            },
                            "googleFonts": [
                                "Roboto"
                            ],
                            "text": {
                                "button": "Add to cart"
                            }
                        },
                        "cart": {
                            "styles": {
                                "button": {
                                    "font-family": "Roboto, sans-serif",
                                    "font-weight": "bold",
                                    ":hover": {
                                        "background-color": "#dcad9e"
                                    },
                                    "background-color": "#f4c0af",
                                    ":focus": {
                                        "background-color": "#dcad9e"
                                    },
                                    "border-radius": "40px"
                                },
                                "title": {
                                    "color": "#464545"
                                },
                                "header": {
                                    "color": "#464545"
                                },
                                "lineItems": {
                                    "color": "#464545"
                                },
                                "subtotalText": {
                                    "color": "#464545"
                                },
                                "subtotal": {
                                    "color": "#464545"
                                },
                                "notice": {
                                    "color": "#464545"
                                },
                                "currency": {
                                    "color": "#464545"
                                },
                                "close": {
                                    "color": "#464545",
                                    ":hover": {
                                        "color": "#464545"
                                    }
                                },
                                "empty": {
                                    "color": "#464545"
                                },
                                "noteDescription": {
                                    "color": "#464545"
                                },
                                "discountText": {
                                    "color": "#464545"
                                },
                                "discountIcon": {
                                    "fill": "#464545"
                                },
                                "discountAmount": {
                                    "color": "#464545"
                                }
                            },
                            "text": {
                                "total": "Total",
                                "notice": "Free Shipping",
                                "button": "Checkout",
                                "noteDescription": "NOTE: Please include your shipping address below only if your billing address is NOT the same - to avoid extra shipping charges :)"
                            },
                            "contents": {
                                "note": true
                            },
                            "googleFonts": [
                                "Roboto"
                            ]
                        },
                        "toggle": {
                            "styles": {
                                "toggle": {
                                    "font-family": "Roboto, sans-serif",
                                    "font-weight": "bold",
                                    "background-color": "#f4c0af",
                                    ":hover": {
                                        "background-color": "#dcad9e"
                                    },
                                    ":focus": {
                                        "background-color": "#dcad9e"
                                    }
                                }
                            },
                            "googleFonts": [
                                "Roboto"
                            ]
                        },
                        "lineItem": {
                            "styles": {
                                "variantTitle": {
                                    "color": "#464545"
                                },
                                "title": {
                                    "color": "#464545"
                                },
                                "price": {
                                    "color": "#464545"
                                },
                                "fullPrice": {
                                    "color": "#464545"
                                },
                                "discount": {
                                    "color": "#464545"
                                },
                                "discountIcon": {
                                    "fill": "#464545"
                                },
                                "quantity": {
                                    "color": "#464545"
                                },
                                "quantityIncrement": {
                                    "color": "#464545",
                                    "border-color": "#464545"
                                },
                                "quantityDecrement": {
                                    "color": "#464545",
                                    "border-color": "#464545"
                                },
                                "quantityInput": {
                                    "color": "#464545",
                                    "border-color": "#464545"
                                }
                            }
                        }
                    },
                });
            });
        }
    })();
    /*]]>*/
</script>


{% endblock %}