{% extends "base_generic.html" %}

{% block content %}
<h1>Shop</h1>
<div class="container">
    <div class="row">
        {% for product in object_list %}
        <div class="col-sm-3">
            <div class="card mask1" style="width: 18rem;">
                <a href={% url 'mask-detail' product.id %}>
                    <img class="card-img-top" src="{{ product.mainimage.url }}" alt="{{ product.name }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.detail_text }}</p>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}